.dishes {

    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        margin-bottom: 140px;
    }

    &__title {
        font-size: 24px;
        color: #fff;
    }
}