.navbar {
    margin-bottom: 50px;
    &__inner {
        display: grid;
        grid-template-columns: repeat(6,1fr);
        column-gap: 20px;

        position: relative;
    }

    &__item {
        display: flex;
        align-items: center;
        justify-content: center;

        width: 150px;

        padding: 10px;

        position: relative;

        outline: none;
    }

    &__link {
        font-size: 18px;
        font-weight: 400;

        color: $primaryColor;
    }
}

.indicator {
    position: absolute;
    width: 150px;
    height: 3px;

    transition: .3s;

    background-color: $primaryColor;

    bottom: 0%;

    border-radius: 5px;
}

.navbar__item:nth-child(1).nav_active ~ .indicator {
    transform: translateX(calc(190px * 0));
}

.navbar__item:nth-child(2).nav_active ~ .indicator {
    transform: translateX(calc(190px * 1));
}

.navbar__item:nth-child(3).nav_active ~ .indicator {
    transform: translateX(calc(190px * 2));
}

.navbar__item:nth-child(4).nav_active ~ .indicator {
    transform: translateX(calc(190px * 3));
}

.navbar__item:nth-child(5).nav_active ~ .indicator {
    transform: translateX(calc(190px * 4));
}

.navbar__item:nth-child(6).nav_active ~ .indicator {
    transform: translateX(calc(190px * 5));
}